<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="decription" content="Blog">
    <meta name="keywords" content="Janina Singh">
    <meta name="author" content="Janina Singh">
    <title>Hausaufgaben</title>
    <link rel="stylesheet" href="stylesheet2.css">
</head>

<body>
<div class="Menue">
    <div class="Menueitem">
        <a href="Janina Hausaufgaben.html">Home</a></div> &nbsp;&nbsp;&nbsp;
    <div class="Menueitem">
        <a href="Janina Blog.html">Blog</a></div> &nbsp;&nbsp;&nbsp;
    <div class="Menueitem">
        <a href="https://www.instagram.com/janinamala/">Über Mich</a></div>
</div>

    <div class="simple-slider">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url(assets/img/cool.jpg);"></div>
                <div class="swiper-slide" style="background-image:url(assets/img/money.jpg);"></div>
                <div class="swiper-slide" style="background-image:url(assets/img/success.jpg);"></div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

<div class="Blogpost">
<div class="Header">Janina Singh</div>

<div class="Blogpostoben">
    <h2>Travel Guide: Nordindien</h2>
    <img class="Bild1">
    <div class="Text1">
        In diesem Blogbeitrag verrate ich euch, wo ihr die schönsten Orte im Norden
        <p></p> Indiens findet. <a>Weiterlesen..</a> </div>
</div>

<div class="Blogpostmitte">
    <h2>Done: Meine Summer Bucketlist</h2>
    <img class="Bild2">
    <div class="Text2">
        Der Sommer neigt sich dem Ende und wir müssen uns schweren Herzens
        <p></p> von dem tollen Wetter verabschieden. Was ich mir für diesen Sommer
        <p></p> vorgenommen habe und was ich letztendlich erleben durfte könnt ihr hier
        <p></p> <a>nachlesen.</a> </div>
</div>

<div class="Blogpostunten">
    <h2>Meine Big 5 for Life</h2>
    <img class="Bild3">
    <div class="Text3">
        "Was sind die Big Five for Life? Und wieso sollte jeder von uns sich
        <p></p> seiner "Big 5" bewusst sein? Dieser und weiteren Fragen, gehe ich in diesem
        <p></p> Beitrag nach. <a>Weiterlesen..</a> </div>
</div>
</body>

<p></p>
<p></p>

 <div class="Footer">
        <div class="Footeritem">Impressum</div> &nbsp;&nbsp;&nbsp;
        <div class="Footeritem">Datenschutzerklärung</div> &nbsp;&nbsp;&nbsp;
        <div class="Footeritem">Kontakt</div>
    </div>

</html>