<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="decription" content="Home">
    <meta name="keywords" content="Janina Singh">
    <meta name="author" content="Janina Singh">
    <title>Hausaufgaben</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="css/bootstrap.css">
</head>

<body>
<div class="Menue">
    <div class="Menueitem"><a href="Janina Hausaufgaben.html">Home</a></div> &nbsp;&nbsp;&nbsp;
    <div class="Menueitem">
    <a href="Janina Blog.html">Blog</a></div> &nbsp;&nbsp;&nbsp;
    <div class="Menueitem"><a href="https://www.instagram.com/janinamala/">Über Mich</a></div>
</div>

<div class="Header">Janina Singh</div>

<div class="Boxlinks">
    Meine Lieblingszitate:
    <p></p>
    “Two roads diverged in a wood and I – I took the one less traveled by, and that has made all the difference” – Robert Frost
    <p></p>
    „The person who doesn‘t read is no better than the person who can‘t read“ - Stephen Covey
    <p></p>
    „And then there is the most dangerous risk of all — the risk of spending your life not doing what you want on the bet you can buy yourself the freedom to do it later.” – Randy Komisar
    <p></p>
    “Own only what you can always carry with you: known languages, known countries, known people. Let your memory be your travel bag” -Alexandr Solzhenitsyn
</div>

    <div class="Boxrechts">Meine Lieblingsblogs
        <p></p>
        <a href="https://www.theminimalists.com/" target="_blank">the minimalists</a><br>
        <p></p>
        <a href="https://tim.blog/" target="_blank">Tim Ferriss</a><br>
        <p></p>
        <a href="http://luiseliebt.de" target="_blank">Luiseliebt</a><br>
        <p></p>
        <a href="https://www.tonyrobbins.com/blog/" target="_blank">Tony Robbins</a><br>
    </div>
<p></p>
<p></p>
    <div class="image center"></div>
<p></p>
    <div class="Footer">
        <div class="Footeritem">Impressum</div> &nbsp;&nbsp;&nbsp;
        <div class="Footeritem">Datenschutzerklärung</div> &nbsp;&nbsp;&nbsp;
        <div class="Footeritem">Kontakt</div>
    </div>
</body>
</html>
